chromadb==1.0.20
pandas==2.3.2
fastapi==0.112.2
uvicorn[standard]==0.34.0
requests==2.32.3
python-dotenv==1.0.1
langchain==0.3.27
langchain-openai==0.3.31
langchain-community==0.3.27
langchain-experimental==0.3.4
twilio==9.7.1
python-multipart==0.0.20
pre-commit==3.6.2
black==25.1.0
flake8==7.3.0
redis==6.2.0
pandas==2.3.2
beautifulsoup4==4.12.3
ollama==0.1.1